<section class="h-100vh bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="fs-2xs fw_medium">
          Front - End Developer
        </p>
        <p class="fs_4xl">
          Hello, I’m <span class="color_lightpink">Deepak</span>
        </p>
        <p class="fs_sm fw_semi_bold">
          Eu id quis donec integer diam placerat libero. Id tempor vitae a egestas volutpat aliquam nullam viverra. Quis
          varius egestas at augue. Ac enim, lectus tellus sagittis.
        </p>
      </div>
    </div>
  </div>
</section>
